@import "./styles.css";


:root{
    --h-title-color:#3948d2;
}

.header {
    border-bottom: solid 2px var(--bs-blue);
}

.bg-bottom {
    background-color: var(--h-title-color);
}

.top-section {
    position: relative;
    padding: 15rem 0;
    background-position: center;
    background-size: cover;
    height: 25rem;
}

.top-section h2 {
    font-weight: 400;
}

.top-section .top-section-content {
    position: relative;
    z-index: 1;
}

.top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

section header h2{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: var(--h-title-color);
    font-size: 2.3rem;
    line-height: 4rem;
}

section .main-body{
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2.4rem;
}

.bg-gradient-primary-to-secondary-light {
    background: linear-gradient(45deg, #fcfcfc, #ffffff) !important;
}

.bg-gradient-primary-to-secondary-gray {
    background: linear-gradient(45deg, #f0f0f0, #f1f1f1) !important;
}



.on-top {
    position: relative;
    z-index: 10000;
}

.top-bg {
    background-position: center;
    background-size: fill;
    width: 100%;
    height: 100%;
}

.top-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}



.photo {
    position: relative;
}

.photo img {
    margin-right: 10%;
    height: 12rem;
    margin-top: 8rem;
}


.photo .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.photo .button {
    position: absolute;
    cursor: pointer;
}

.team-member {
    height: 250px;
}

@media screen and (max-width: 991px) {

    .photo img {
        height: 12rem;
        margin-top: 3rem;
    }
    .team-member {
        height: 150px;
      }

}

@media screen and (max-width: 736px) {

    .photo img {
        height: 7rem;
        margin-top: 7rem;
    }
    .team-member {
        height: 100px;
      }

}

@media screen and (max-width: 480px) { 

    .team-member {
      height: 50px;
    }

    .shadow {
        height: 50px !important;
    }
  
  }

  @media screen and (max-width: 480px) {
    section .main-body{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    section header h2{
        font-size: 2.0rem;
    }
}

/* Three columns side by side */
.team-member {
    float: left;
    width: 33.3%;
    height: auto;
    margin-bottom: 6px;
    padding: 0 28px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .team-member {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 48px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 50%;
      padding: 0 10px;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 16px 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .card h2{
    font-size: 1.5rem;
  }

  @media screen and (min-width: 601px) {
    .banner-white h3 {
        font-size: 2.8rem;
    }
  }

  @media screen and (max-width: 600px) {
    .banner-white h3 {
        font-size: 2rem;
    }
  }
