@import "./styles.css";



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root{
  --pink-light: #f9e9ed;
}
body{
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.section-title{
  width: 100%;
  padding:0 15px;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2{
  font-size: 35px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
img{
  border-radius: 20px;
  max-width: 100%;
  vertical-align: middle;
}
.team{
  min-height: 100vh;
  padding: 80px 0;
}
.team-item{
  width: calc((100% / 3) - 30px);
  margin:0 15px 30px;
  position: relative;
  transition: box-shadow 0.5s ease; 
  border-radius: 20px;
}
.team-item:hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team-item img{
  width: calc(100% - 60px);
  position: relative;
  z-index: 1;
  transition: transform 0.5s ease;
}
.team-item:hover img{
   transform: translateX(60px);
}
.team-item h3{
  position: absolute;
  background: #000; 
  right: 0;
  bottom: 15px;
  padding: 2px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  z-index: 2;
  transition: right 0.5s ease;
  margin-left: 75px;
}
.team-item:hover h3{
  right: 15px;
}
.team-item h3 span{
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.team-item .social-links{
  position: absolute;
  left:0;
  top:0;
  width: 60px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-left: 2px solid #000;
  border-radius: 20px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease;
}
.team-item:hover .social-links{
  transform: translateX(0%);
  opacity: 1;
}
.team-item .social-links a{
  display: block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 19px;
  border:2px solid #000;
  border-radius: 50%;
  margin:3px 0;
  text-align: center;
  transition: all 0.5s ease;
}
.team-item .social-links a:hover{
  border: 3px solid #000;
}

.fa-facebook {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-instagram {
  color: #e1306c;
}
.fa-linkedin {
  color: #007bb5;
}
.credit a{
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}
.credit {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 991px){
   .team-item{
    width: calc(50% - 30px);
   }
}
@media(max-width: 575px){
   .team-item{
    width: calc(100% - 30px);
   }  
}


:root{
    --h-title-color:#3948d2;
}


.header {
    border-bottom: solid 2px var(--bs-blue);
}

.bg-bottom {
    background-color: var(--h-title-color);
}

.top-section {
    position: relative;
    padding: 20rem 0;
    background-position: center -10rem;
    background-size: cover;
    height: 25rem;
}

.top-section h2 {
    font-weight: 400;
}

.top-section .top-section-content {
    position: relative;
    z-index: 1;
}

.top-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

section header h2{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: var(--h-title-color);
    font-size: 2.3rem;
    line-height: 4rem;
}

section .main-body{
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 2.4rem;
}


.bg-gradient-primary-to-secondary-light {
    background: linear-gradient(45deg, #fcfcfc, #ffffff) !important;
}

.bg-gradient-primary-to-secondary-gray {
    background: linear-gradient(45deg, #f0f0f0, #f1f1f1) !important;
}



.on-top {
    position: relative;
    z-index: 10000;
}

.top-bg {
    background-position: center;
    background-size: fill;
    width: 100%;
    height: 100%;
}

.top-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}



.photo {
    position: relative;
}

.photo img {
    margin-right: 10%;
    height: 12rem;
    margin-top: 8rem;
}


.photo .screen {
    position: absolute;
    background-size: cover;
    pointer-events: auto;
}

.photo .button {
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 991px) {

    .photo img {
        height: 12rem;
        margin-top: 3rem;
    }

}

@media screen and (max-width: 736px) {

    .photo img {
        height: 7rem;
        margin-top: 7rem;
    }

}

@media screen and (max-width: 480px) { 

  .team-member {
    height: 50px !important;
  }

}